*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial,sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: black;
}

header{
    background-color: rgb(255, 199, 58);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover{
    color:black;
}

.hero{
    background-image: url("../img/kasu.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;

}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-contenido {
    position: relative;
    z-index: 2;
}

.hero-contenido h1{
    font-size: 48px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero-contenido p{
    font-size: 20px;
    margin-bottom: 30px;
}

.btn{
    display: inline-block;
    background-color: rgb(255, 204, 75);
    color: white;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    transform: backgrond-color 0.3s ease, transform 0.3s ease;
}

.btn:hover{
    background-color: black;
    transform: translateY(-3px);
}

/*Inicion zona Principal*/

.contenido-principal{
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

footer{
    background-color: rgb(255, 199, 58);
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
}

.rojo{
    color: black;
}